* {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #282828;
    height: 50px;
    width: 100%;
    position: fixed;
}

ul {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    list-style: none;
}

li a {
    margin: 0.5rem;
    color: #ffff;
    text-decoration: none;
    padding: 0.6rem 1rem 0.6rem 1rem;
    border-radius: 0.5rem;
}

header > nav > ul > li > a:hover {
    background-color: #383838;
    transition: ease-in-out 0.5s;
}

main {
    display: flex;
    padding: 13rem;
    align-items: center;
    gap: 3rem;
    background-color: #FFFFFF;
}

main > div > img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

main > div > h1 {
    font-size: 3rem;
    font-weight: 100;
    color: #3E3E3E;
}

main > div > p {
    font-size: 1.4rem;
    line-height: 1.7;
    padding: 3rem 0;
    color: #888888;
}

main > div > p > strong {
    color: #3E3E3E;
}

main > div > p > a {
    color: #888888;
}

main > div > p > a:hover {
    cursor: pointer;
    color: #41B8E8;
}

.main-btn {
    background-color: #41B8E8;
    outline: none;
    border: none;
    padding: 1rem 3rem;
    font-family: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.main-btn > span {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bolder;
}

section {
    background: url(images/bg.png);
    width: 100%;
}

.section1 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
    padding: 4rem 10rem;
}

.section2 {
    padding: 4rem 0;
}

section > h2 {
    color: #3E3E3E;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

section > p {
    text-align: center;
    color: #979897;
    font-size: 19px;
    margin: 3rem;
}

.section1-div {
    display: flex;
    gap: 1.5rem;
}

.stuff {
    background-color: #FFFFFF;
    padding: 3rem 1rem;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    height: fit-content;
}

.stuff > i {
    font-size: 5.5rem;
    color: #EA8A95;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.stuff > h3 {
    text-align: center;
    color: #3E3E3E;
    font-size: 22px;
    margin-bottom: 15px;
}

.stuff > p {
    text-align: center;
    color: #979897;
    line-height: 1.7;
}

.section1-btn {
    background-color: #41B8E8;
    outline: none;
    border: none;
    padding: 1rem 3rem;
    font-family: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bolder;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.section1-btn:hover {
    box-shadow: 4.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.38);
    transition: ease-in-out 0.5s;
}

.stuff2 {
    background-color: #FFFFFF;
    padding-bottom: 3rem;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); 
}

.stuff2 > img {
    width: 100%;
    padding-bottom: 3rem;
}

.section2-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 0 10rem;
}

.stuff2 > h3 {
    text-align: center;
    color: #3E3E3E;
    font-size: 22px;
    margin-bottom: 15px;
}

.stuff2 > p {
    text-align: center;
    color: #979897;
}

.section2-btn {
    background-color: #41B8E8;
    outline: none;
    border: none;
    padding: 1rem 3rem;
    font-family: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bolder;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.section2-btn:hover {
    box-shadow: 4.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.38);
    transition: ease-in-out 0.5s;
}

footer {
    background-color: #303030;
    padding: 4rem 0;
    width: 100%;
}

footer > h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer > p {
    text-align: center;
    color: #979897;
    font-size: 19px;
    margin: 1rem 0 4rem 0;
}


.footer-contact {
    /* display: grid;
    justify-content: center; */
    padding: 0 25rem;
}

input {
    background-color: #282828;
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    color: #979897;
    font-size: 18px;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

input:focus {
    border: 1px #2D515F solid;
}

textarea {
    background-color: #282828;
    height: 220px;
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    color: #979897;
    font-size: 18px;
    border-radius: 0.5rem;
}

textarea:focus {
    border: 1px #2D515F solid;
}

.name-email {
    display: flex;
    gap: 1.5rem;
}

.contact-btn {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 3rem;
}

.send-btn {
    background-color: #41B8E8;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    height: 3.5rem;
    padding: 1rem 3rem;
    font-size: 16px;
    cursor: pointer;
}

.clear-btn {
    background-color: #4B4B4B;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    height: 3.5rem;
    padding: 1rem 3rem;
    font-size: 16px;
    cursor: pointer;
}

hr {
    border: 1px #454545 solid;
}

.footer-contact > h3 {
    text-align: center;
    padding: 2.5rem 0 1rem 0;
    color: #FFFFFF;
    font-size: 20px;
}

.parent-icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.icon-child {
    background-color: #474747;
    padding: 0.5rem;
    border: 1px #303030 solid;
    border-radius: 0.5rem;
    transition: 0.5s ease, background-color 0.5s ease;
}

.icon-child > i {
    color: #2F2F2F;
    font-size: 25px;
}

.twitter-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #2BA1D7;
    cursor: pointer;
}

.facebook-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #354F86;
    cursor: pointer;
}

.linkedin-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #005B89;
    cursor: pointer;
}

.dribble-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #BC3566;
    cursor: pointer;
}

.github-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #EEEEEE;
    cursor: pointer;
}

.tumblr-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #4C6A81;
    cursor: pointer;
}

.google-icon:hover {
    position: relative;
    bottom: 5px;
    background-color: #CE2512;
    cursor: pointer;
}

.reserved {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    color: #474747;
}


.first-reserved::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #474747;
    margin: 0 15px;
}

.second-reserved > a {
    color: #474747;
}

.second-reserved > a:hover {
    color: #2BA1D7;
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
        padding: 5rem 2rem;
    }

    main > div > h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    main > div > p {
        text-align: center;
    }

    .main-cont-btn {
        display: grid;
        justify-content: center;
    }

    section > p {
        font-size: 16px;
        margin: 1rem;
    }

    .section1-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-top: 4rem;

    }

    .section1-div .stuff:last-child {
        grid-column: 1 / 3;
        justify-self: center;
        margin: 0 10rem 2rem 10rem;
    }

    .section1 {
        padding: 3rem 2rem;
    }

    .section1-btn {
        margin-top: 2rem;
    }

    .section2-div {
        margin-top: 4rem;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 2rem 2rem 2rem;
    }

    .footer-contact {
        padding: 0 7rem;
    }
}

@media screen and (max-width: 450px) {
    main {
        padding: 6rem 1rem;
    }

    main > div > img {
        width: 15rem;
        height: 15rem;
    }
    main > div > h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    main > div > p {
        text-align: center;
        font-size: 16px;
    }

    .main-btn > span {
        font-size: 1rem;
    }

    .main-btn {
        padding: 1rem 5.5rem;
    }

    section > h2 {
        font-size: 18px;
    }
    section > p {
        font-size: 16px;
    }

    .section1-div {
        display: flex;
        flex-direction: column;
    }

    .section1 {
        padding: 3rem 1rem;
    }

    .section1-div .stuff:last-child {
        grid-column: 1 / 3;
        justify-self: center;
        margin: 0 0 2rem 0;
    }

    .section2-div {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        padding: 0 1rem 2rem 1rem;
    }

    .footer-contact {
        padding: 0 1rem;
    }

    .name-email {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-btn {
        flex-direction: column;
        gap: 1rem;
    }

    .parent-icon {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }       



}



